body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(205, 247, 201);
}

a {
  color: #00B7FF;
}
img {
  height: 30vh
}

.titleHP{
  color: rgb(88, 57, 10);
}
