<h2>Add Meal</h2>

<form action="/meals/create" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name">

    <label for="calories">Calories</label>
    <input id="calories" type="text" name="calories">

    <label for="ingredients">Ingredients</label>
    <input id="ingredients" type="text" name="ingredients">

    <label for="preparation">Preparation</label>
    <input id="preparation" type="text" name="preparation">

    <label for="imageUrl">Image</label>
    <input id="imageUrl" type="text" name="imageUrl">

    <button type="submit">Add Meal</button>

</form>